* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

dialog {
  margin: auto auto;
}

header {
  background-color: aqua;
  text-align: center;
  padding: 10px 0;
}

.container {
  align-self: center;
}

.board {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}